<%= content_for :home_css_content do %>
	<%= stylesheet_link_tag 'home'  %>
	<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700%7CRoboto:400,500,700,900" rel="stylesheet">
<% end %>

<script
        src="https://code.jquery.com/jquery-3.3.1.js" ></script>

<!-- main of the page -->
<main id="main">
	<!-- banner of the page -->
	<section id="book_apointement" class="banner" data-scroll-index="0">
		<!-- main slider of the page -->
		<div class="main-slider">
			<!-- slide of the page -->
			<div class="slide bg-full" style="background-image: url(<%= image_path("4.jpg") %>),  linear-gradient(to bottom, rgba(125,185,232,0.7) 0%,rgba(125,185,232,1) 71%,rgba(30,87,153,1) 100%) ;">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-7 text-left">
								<div class="caption">
									<span class="title text-uppercase">Avez vous besoin d'un Bricoleur?</span>
									<h2 class="text-uppercase">TROUVEZ LES BRICOLEURS <br> LES PLUS EFFICACE <br> ET LE PLUS PROCHE DE CHEZ VOUS</h2>
									<a href="#" class="btn-primary text-uppercase lg-round">Chercher un Malm</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- slide of the page end -->
			<!-- slide of the page -->
			<div class="slide bg-full" style="background-image: url(<%= image_path("3.jpg") %>),  linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(125,185,232,0.71) 71%,rgba(30,87,153,1) 100%);">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-7 text-left">
								<div class="caption">
                  <span class="title text-uppercase">Avez vous besoin d'un Bricoleur?</span>
                  <h2 class="text-uppercase">TROUVEZ LES BRICOLEURS <br> LES PLUS EFFICACE <br> ET LE PLUS PROCHE DE CHEZ VOUS</h2>
                  <a href="#" class="btn-primary text-uppercase lg-round">Chercher un Malm</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- slide of the page end -->
			<!-- slide of the page -->
			<div class="slide bg-full" style="background-image: url(<%= image_path("2.jpg") %>),  linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(125,185,232,0.71) 71%,rgba(30,87,153,1) 100%);">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-7 text-left">
								<div class="caption">
                  <span class="title text-uppercase">Avez vous besoin d'un Bricoleur?</span>
                  <h2 class="text-uppercase">TROUVEZ LES BRICOLEURS <br> LES PLUS EFFICACE <br> ET LE PLUS PROCHE DE CHEZ VOUS</h2>
                  <a href="#" class="btn-primary text-uppercase lg-round">Chercher un Malm</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- slide of the page end -->
		</div>
		<!-- main slider of the page end -->
		<div class="container" style="position:absolute;top: 50px;left: 100px;">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-7 text-left">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-5">
					<%= render "shared/appointement_form" %>
				</div>
			</div>
		</div>

		<a href="#abt" class="next-section smooth text-center round"><i class="fas fa-angle-down"></i></a>
	</section>
	<!-- banner of the page end -->

	<div data-scroll-index="2">
		<!-- counter holder of the page -->
		<div class="counter-holder overlay bg-full" style="background-image: url(<%= image_path("6.jpg") %>);">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="col">
							<span class="icon icon-User pull-left"></span>
							<div class="pull-left">
								<span class="counter">980</span>
								<span class="title">Clients</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="col">
							<span class="icon icon-Toolbox pull-left"></span>
							<div class="pull-left">
								<span class="counter">29</span>
								<span class="title">Bricoleurs</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="col">
							<span class="icon icon-Star pull-left"></span>
							<div class="pull-left">
								<span class="counter">768</span>
								<span class="title">évaluations 5 étoiles</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- counter holder of the page end -->


	<!-- service sec of the page end -->


	<!-- contact sec of the page -->
	<section class="contact-sec" data-scroll-index="5">
		<%= image_tag "c.jpg" %>
		<div class="txt-holder bg-light">
			<header class="header">
				<span class="title text-uppercase">Nous contacter</span>
				<h2 class="heading text-uppercase">Laissez nous un message <br>& nous reviendrons vers vous dès que possible</h2>
				<span class="border2"><img src="<%= image_path("border2.png") %>" alt="image description" class="img-responsive"></span>
			</header>
			<!-- contact form of the page -->
			<div class="contact-form">
				<form id="contactForm" data-toggle="validator">
					<fieldset>
						<div class="form-group">
							<input type="text" id="txtname" class="form-control lg-round" placeholder="Votre nom" required data-error="NEW ERROR MESSAGE">
						</div>
						<div class="form-group">
							<input type="email" id="txtemail" class="form-control lg-round" placeholder="Votre Email" required data-error="NEW ERROR MESSAGE">
						</div>
						<textarea id="txtmessage" placeholder="Votre Message" required data-error="NEW ERROR MESSAGE"></textarea>
						<div id="msgSubmit" class="form-message hidden"></div>
						<button class="btn-primary lg-round text-center text-uppercase" type="submit" id="form-submit">Envoyer</button>
					</fieldset>
				</form>
			</div>
			<!-- contact form of the page end -->
		</div>
	</section>
	<!-- contact sec of the page end -->
</main>
<!-- main of the page end -->

<%= content_for :js_content do %>



  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDbdhrGL62_fFR-hckf74ihwPLkmrZLLSQ&libraries=places"></script>
  <script>

    (function () {
      $("#lieu").geocomplete();
    });
  </script>
<% end %>
