<%= content_for :home_css_content do %>
	<%= stylesheet_link_tag 'home'  %>
	<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700%7CRoboto:400,500,700,900" rel="stylesheet">
<% end %>
<!-- main of the page -->
<main id="main">
	<!-- banner of the page -->
	<section id="book_apointement" class="banner" data-scroll-index="0">
		<!-- main slider of the page -->
		<div class="main-slider">
			<!-- slide of the page -->
			<div class="slide bg-full" style="background-image: url(<%= image_path("4.jpg") %>),  linear-gradient(to bottom, rgba(125,185,232,0.7) 0%,rgba(125,185,232,1) 71%,rgba(30,87,153,1) 100%) ;"> 
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-7 text-left">
								<div class="caption">
									<span class="title text-uppercase">FROM EXPRESS DETAIL TO BE SUCCESS</span>
									<h2 class="text-uppercase">WE WILL BE HAPPY <br>TO TAKE CARE OF YOUR WORK</h2>
									<a href="#" class="btn-primary text-uppercase lg-round">Take an apointement</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- slide of the page end -->
			<!-- slide of the page -->
			<div class="slide bg-full" style="background-image: url(<%= image_path("3.jpg") %>),  linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(125,185,232,0.71) 71%,rgba(30,87,153,1) 100%);"> 
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-7 text-left">
								<div class="caption">
									<span class="title text-uppercase">FROM EXPRESS DETAIL TO BE SUCCESS</span>
									<h2 class="text-uppercase">WE WILL BE HAPPY <br>TO TAKE CARE OF YOUR WORK</h2>
									<a href="#" class="btn-primary text-uppercase lg-round">Take an apointement</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- slide of the page end -->
			<!-- slide of the page -->
			<div class="slide bg-full" style="background-image: url(<%= image_path("2.jpg") %>),  linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(125,185,232,0.71) 71%,rgba(30,87,153,1) 100%);"> 
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-7 text-left">
								<div class="caption">
									<span class="title text-uppercase">FROM EXPRESS DETAIL TO BE SUCCESS</span>
									<h2 class="text-uppercase">WE WILL BE HAPPY <br>TO TAKE CARE OF YOUR WORK</h2>
									<a href="#" class="btn-primary text-uppercase lg-round">Take an apointement</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- slide of the page end -->
		</div>
		<!-- main slider of the page end -->
		<div class="container" style="position:absolute;top: 50px;left: 100px;">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-7 text-left">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-5">
					<%= render "shared/appointement_form" %>
				</div>
			</div>
		</div>

		<a href="#abt" class="next-section smooth text-center round"><i class="fas fa-angle-down"></i></a>
	</section>
	<!-- banner of the page end -->
	<!-- abt sec of the page -->
	<section id="abt" class="abt-sec style2" data-scroll-index="1">
		<div class="container">
			<div class="row">
				<header class="header col-xs-12 text-center">
					<h2 class="heading text-uppercase">WELCOME TO LMALEM</h2>
					<span class="border"><img src="<%= image_path('border.png') %>" alt="image description" class="img-responsive"></span>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <br>standard dummy text ever since the 1500s</p>
				</header>
			</div>
		</div>
		<div class="bg-light border">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<!-- service list of the page -->
						<ul class="list-unstyled service-list text-center">
							<li>
								<span class="icon icon-WineGlass clr1"></span>
								<h3 class="heading2">Awesome Work</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. text ever since the 1500s</p>
							</li>
							<li>
								<span class="icon icon-ChartUp clr3"></span>
								<h3 class="heading2">Great Value</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. text ever since the 1500s</p>
							</li>
							<li>
								<span class="icon icon-Users clr4"></span>
								<h3 class="heading2">Experienced Craftsmans</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. text ever since the 1500s</p>
							</li>
						</ul>
						<!-- service list of the page end -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- abt sec of the page end -->
	<div data-scroll-index="2">
		<!-- service sec of the page -->
		<section class="service-sec bg-light">
			<div class="txt-holder">
				<header class="header">
					<span class="title text-uppercase">ready to services you</span>
					<h2 class="heading text-uppercase">Successful work With <br>successful team</h2>
					<span class="border2"><img src="<%= image_path("border2.png") %>" alt="image description" class="img-responsive"></span>
				</header>
				<ul class="list-unstyled service-category">
					<li><i class="fas fa-angle-right"></i> Online invoices</li>
					<li><i class="fas fa-angle-right"></i> Experienced craftmen</li>
					<li><i class="fas fa-angle-right"></i> Having a plan feels good</li>
					<li><i class="fas fa-angle-right"></i> Specific notation systems </li>
					<li><i class="fas fa-angle-right"></i> Community reviews</li>
				</ul>
				<a href="#book_apointement" class="btn-primary smooth lg-round text-center text-uppercase">Book Appointment</a>
			</div>
			<div class="img-holder">
				<img src="<%= image_path("5.jpg") %>" alt="image description" class="img-responsive">
			</div>
		</section>
		<!-- service sec of the page end -->
		<!-- counter holder of the page -->
		<div class="counter-holder overlay bg-full" style="background-image: url(<%= image_path("6.jpg") %>);">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="col">
							<span class="icon icon-Drop pull-left"></span>
							<div class="pull-left">
								<span class="counter">980</span>
								<span class="title">Clients</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="col">
							<span class="icon icon-User pull-left"></span>
							<div class="pull-left">
								<span class="counter">29</span>
								<span class="title">Craftsmen</span>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="col">
							<span class="icon icon-ClipboardChart pull-left"></span>
							<div class="pull-left">
								<span class="counter">768</span>
								<span class="title">5 star reviews</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- counter holder of the page end -->
		<!-- service sec of the page -->
		<section class="service-sec style2 bg-light">
			<div class="txt-holder">
				<header class="header">
					<span class="title text-uppercase">OUR SERVICES</span>
					<h2 class="heading text-uppercase">WE READY NOW TO SERVE <br>YOU IN ALL THE TIME</h2>
					<span class="border2"><img src="<%= image_path("border2.png") %>" alt="image description" class="img-responsive"></span>
				</header>
				<ul class="list-unstyled service-category">
					<li><i class="fas fa-angle-right"></i> Tiling </li>
					<li><i class="fas fa-angle-right"></i> Air conditioning</li>
					<li><i class="fas fa-angle-right"></i> Electricity</li>
					<li><i class="fas fa-angle-right"></i> Painting </li>
					<li><i class="fas fa-angle-right"></i> Gardening </li>
					<li><i class="fas fa-angle-right"></i> carpentry</li>
					<li><i class="fas fa-angle-right"></i> Plumbing </li>
					<li><i class="fas fa-angle-right"></i> Platerie</li>
					<li><i class="fas fa-angle-right"></i> Parquet </li>
					<li><i class="fas fa-angle-right"></i> Aluminum </li>
				</ul>
				<a href="#book_apointement" class="btn-primary smooth lg-round text-center text-uppercase">Book Appointment</a>
			</div>
			<div class="img-holder">
				<img src="<%= image_path("7.jpg") %>" alt="image description" class="img-responsive">
			</div>
		</section>
		<!-- service sec of the page end -->
	</div>
	<!-- team sec of the page -->
	<section class="team-sec container" data-scroll-index="3">
		<div class="row">
			<header class="header col-xs-12 text-center">
				<h2 class="heading text-uppercase">our team</h2>
				<span class="border"><img src="<%= image_path("border.png") %>" alt="image description" class="img-responsive"></span>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <br>standard dummy text ever since the 1500s</p>
			</header>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<!-- team col of the page -->
				<div class="team-col">
					<div class="img-holder">
						<img src="<%= image_path("8.jpg") %>" alt="image description" class="img-responsive">
					</div>
					<span class="desnation">Co-Founder & CFO</span>
					<strong class="heading2">Abdelhadi El Alami</strong>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
					<!-- socail network of the page -->
					<%# <ul class="list-unstyled socail-network">
						<li><a href="#" class="round"><i class="fas fa-facebook"></i></a></li>
						<li><a href="#" class="round"><i class="fas fa-twitter"></i></a></li>
						<li><a href="#" class="round"><i class="fas fa-dribbble"></i></a></li>
					</ul> %>
					<!-- socail network of the page end -->
				</div>
				<!-- team col of the page end -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<!-- team col of the page -->
				<div class="team-col">
					<div class="img-holder">
						<img src="<%= image_path("9.jpg") %>" alt="image description" class="img-responsive">
					</div>
					<span class="desnation">Founder & CEO</span>
					<strong class="heading2">Brahim Afellah</strong>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
					<!-- socail network of the page -->
					<%# <ul class="list-unstyled socail-network">
						<li><a href="#" class="round"><i class="fas fa-facebook"></i></a></li>
						<li><a href="#" class="round"><i class="fas fa-twitter"></i></a></li>
					</ul> %>
					<!-- socail network of the page end -->
				</div>
				<!-- team col of the page end -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<!-- team col of the page -->
				<div class="team-col">
					<div class="img-holder">
						<img src="<%= image_path("0.jpg") %>" alt="image description" class="img-responsive">
					</div>
					<span class="desnation">Co-Founder & CTO</span>
					<strong class="heading2">Zakaria Jabli</strong>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
					<!-- socail network of the page -->
					<%# <ul class="list-unstyled socail-network">
						<li><a href="#" class="round"><i class="fas fa-facebook"></i></a></li>
						<li><a href="#" class="round"><i class="fas fa-twitter"></i></a></li>
						<li><a href="#" class="round"><i class="fas fa-dribbble"></i></a></li>
					</ul> %>
					<!-- socail network of the page end -->
				</div>
				<!-- team col of the page end -->
			</div>
		</div>
	</section>
	<!-- service sec of the page end -->
	<!-- testimonail sec of the page -->
	<section class="testimonail-sec bg-full" style="background-image: url(<%= image_path("a.jpg")%>);" data-scroll-index="4">
		<div class="container">
			<div class="row">
				<header class="header col-xs-12 text-center">
					<h2 class="heading text-uppercase">testimonials</h2>
					<span class="border"><img src="<%= image_path('border.png') %>" alt="image description" class="img-responsive"></span>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <br>standard dummy text ever since the 1500s</p>
				</header>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<!-- testimonail slider of the page -->
					<div class="testimonail-slider">
						<!-- slide of the page -->
						<div class="slide">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
							<footer class="footer">
								<div class="img-holder round">
									<img src="<%=image_path('t1.jpg')%>" alt="image description" class="img-responsive">
								</div>
								<div class="txt-holder">
									<strong class="name">William Richardson</strong>
									<span class="desnation">HR Manager</span>
								</div>
							</footer>
						</div>
						<!-- slide of the page end -->
						<!-- slide of the page -->
						<div class="slide">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
							<footer class="footer">
								<div class="img-holder round">
									<img src="<%=image_path('t2.jpg')%>" alt="image description" class="img-responsive">
								</div>
								<div class="txt-holder">
									<strong class="name">Johnny Depp</strong>
									<span class="desnation">Developer</span>
								</div>
							</footer>
						</div>
						<!-- slide of the page end -->
						<!-- slide of the page -->
						<div class="slide">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
							<footer class="footer">
								<div class="img-holder round">
									<img src="<%=image_path('t3.jpg')%>" alt="image description" class="img-responsive">
								</div>
								<div class="txt-holder">
									<strong class="name">Mikle feed</strong>
									<span class="desnation">Actor</span>
								</div>
							</footer>
						</div>
						<!-- slide of the page end -->
					</div>
					<!-- testimonail slider of the page end -->
				</div>
			</div>
		</div>
	</section>
	<!-- testimonail sec of the page end -->

	<!-- offer sec of the page -->
	<section class="offer-sec overlay bg-full" style="background-image: url(<%= image_path("b.jpg") %>);">
		<div class="container">
			<div class="row">
				<div class="header col-xs-12 col-sm-8">
					<span class="title text-uppercase">Are you ready now?</span>
					<h2 class="text-uppercase">ready to work with us now with 30% discount</h2>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="#book_apointement" class="btn-primary smooth lg-round text-uppercase">Book Appointment</a>
				</div>
			</div>
		</div>
	</section>
	<!-- offer sec of the page end -->
	<!-- contact sec of the page -->
	<section class="contact-sec" data-scroll-index="5">
		<%= image_tag "c.jpg" %>
		<div class="txt-holder bg-light">
			<header class="header">
				<span class="title text-uppercase">contact us</span>
				<h2 class="heading text-uppercase">DROP YOUR MESSAGE <br>AND WE WILL GET BACK SOON</h2>
				<span class="border2"><img src="<%= image_path("border2.png") %>" alt="image description" class="img-responsive"></span>
			</header>
			<!-- contact form of the page -->
			<div class="contact-form">
				<form id="contactForm" data-toggle="validator">
					<fieldset>
						<div class="form-group">
							<input type="text" id="txtname" class="form-control lg-round" placeholder="Your Name" required data-error="NEW ERROR MESSAGE">
						</div>
						<div class="form-group">
							<input type="email" id="txtemail" class="form-control lg-round" placeholder="Your Email" required data-error="NEW ERROR MESSAGE">
						</div>
						<textarea id="txtmessage" placeholder="Your Message" required data-error="NEW ERROR MESSAGE"></textarea>
						<div id="msgSubmit" class="form-message hidden"></div>
						<button class="btn-primary lg-round text-center text-uppercase" type="submit" id="form-submit">Send Now</button>
					</fieldset>
				</form>
			</div>
			<!-- contact form of the page end -->
		</div>
	</section>
	<!-- contact sec of the page end -->
</main>
<!-- main of the page end -->

<%= content_for :js_content do %>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDbdhrGL62_fFR-hckf74ihwPLkmrZLLSQ&libraries=places"></script>
  <script>

    $(function () {
      $("#lieu").geocomplete();
    });
  </script>
<% end %>
