<%= content_for :header do %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
<% end %>

<%= link_to 'Back', search_path %>
<p id="notice"><%= notice %></p>

<h4>Détails du maalem</h4>
<%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
<p>
  <strong>Nom et prénom:</strong>
  <%= @user.first_name %>, <%= @user.last_name %>
</p>

<p>
  <strong>Disponibilité</strong>

</p>

<h6><strong>Mes spécialités</strong></h6>


-----------------------------
<table>
  <thead>
    <tr>
      <th>Spécialité</th>
      <th>Description</th>
      <th>Avg punctuation</th>
      <th>Avg efficacy</th>
      <th>Avg behaviour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_specialities.each do |users_speciality| %>
      <tr>
        <td><strong> <%= users_speciality.speciality.name %></strong></td>
        <td><%= users_speciality.description %></td>
        <td><% for i in (0...users_speciality.avg_punctuation.to_i) do %>
          <i class="fas fa-star"></i>
            <%end %> <%= users_speciality.avg_punctuation %></td>
        <td><% for i in (0...users_speciality.avg_efficacy.to_i) do %>
          <i class="fas fa-star"></i>
            <%end %> <%= users_speciality.avg_efficacy %></td>
        <td><% for i in (0...users_speciality.avg_behaviour.to_i) do %>
            <i class="fas fa-star"></i>
            <%end %> <%= users_speciality.avg_behaviour %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>
-----------------------------
  <% @users_specialities.each do |users_speciality| %>
   <strong> <%= users_speciality.speciality.name %>
    <%= users_speciality.description %></strong>
   <p>Ponctualité <% for i in (0...users_speciality.avg_punctuation.to_i) do %>
  <i class="fas fa-star"></i>
<%end %> <%= users_speciality.avg_punctuation %></p>

   <p>Efficacité <% for i in (0...users_speciality.avg_efficacy.to_i) do %>
  <i class="fas fa-star"></i>
<%end %> <%= users_speciality.avg_efficacy %></p>

   <p>avg_behaviour <% for i in (0...users_speciality.avg_behaviour.to_i) do %>
  <i class="fas fa-star"></i>
<%end %> <%= users_speciality.avg_behaviour %></p>




  <% end %>



<h6>Coordonnées</h6>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Numéro Tél:</strong>
  <%= @user.phone_number %>
</p>
<p>
  <strong>Adress:</strong>
  <%= @user.city %>, <%= @user.address %>
</p>

<br>

<style>

#marker {
    background-image: url(<%= cl_image_path @user.photo.url %>);
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

</style>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-lat = "<%= @user.latitude %>"
  data-lng = "<%= @user.longitude %>"
></div>

<%= content_for :scripts do %>

<!--   <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' /> -->

  <script>
  mapboxgl.accessToken = "<%= ENV['MAPBOX_API_KEY'] %>";
  const mapItem = document.getElementById("map");
  const lat = parseFloat(mapItem.dataset.lat);
  const lng = parseFloat(mapItem.dataset.lng);
  console.log(lat)
  var map = new mapboxgl.Map({
      container: 'map',
      //style: 'mapbox://styles/mapbox/satellite-v9',
      style: 'mapbox://styles/mapbox/streets-v9',
      center: [lng,lat ],

      zoom: 13
  });


// create the popup
var popup = new mapboxgl.Popup({ offset: 25 })
    .setText('Construction on the Washington Monument began in 1848.');

// create DOM element for the marker
var el = document.createElement('div');
el.id = 'marker';

// create the marker
var monument = [lng,lat ];
new mapboxgl.Marker(el)
    .setLngLat(monument)
    .setPopup(popup) // sets a popup on this marker
    .addTo(map);

  map.addControl(new MapboxGeocoder({
      accessToken: mapboxgl.accessToken
  }));
  </script>
<% end %>
