<p id="notice"><%= notice %></p>

<h4>Détails du maalem</h4>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Adress:</strong>
  <%= @user.city %>, <%= @user.address %>
</p>

<h6>Mes spécialités</h6>


<h6>Coordonnées</h6>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Adress:</strong>
  <%= @user.city %>, <%= @user.address %>
</p>

<br>
