<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#liste" aria-controls="liste" role="tab" data-toggle="tab">Listes</a>
    </li>

    <li role="presentation">
      <a href="#carte" aria-controls="carte" role="tab" data-toggle="tab">Carte</a>
    </li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="liste">


      <% users_specialities.each do |user_speciality| %>
        <div class="col-sm-4 col-md-3">
          <div class="thumbnail">
            <% if !user_speciality.user.photo.blank? then %>

              <%= cl_image_tag user_speciality.user.photo %>
            <% else %>

              <img src="<%= asset_path 'default-user.jpg' %>" style="height:200px"/>
            <% end %>

            <div class="caption">
              <% ap = user_speciality.avg_punctuation*100/5 %>
              <% ae = user_speciality.avg_efficacy*100/5 %>
              <% ab = user_speciality.avg_behaviour*100/5 %>
              <h4><%= user_speciality.user.first_name %> <%= user_speciality.user.last_name %></h4>
              <span class="label label-primary">Ponctualité: </span><div class="star-ratings-sprite"><span style="width: <%= ap %>%" class="star-ratings-sprite-rating"></span></div>
              <span class="label label-primary">Efficacité: </span> <div class="star-ratings-sprite"><span style="width: <%= ae %>%" class="star-ratings-sprite-rating"></span></div>
              <span class="label label-primary">Comportement:</span><div class="star-ratings-sprite"><span style="width: <%= ab %>%" class="star-ratings-sprite-rating"></span></div>

               <div style="margin-bottom: 25px"> </div>
              <p><%= link_to 'Voir profile', user_profile_show_path(user_speciality.user), class: "btn btn-default" %> </p>
            </div>
          </div>
        </div>

      <% end %>

    </div>


    <div role="tabpanel" class="tab-pane " id="carte">
      <div id="map" style="width: 1300px; height: 740px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

      </div>

    </div>
  </div>


</div>

<%= content_for :css_content do %>
  <%= stylesheet_pack_tag "map" %>
  <style>

    #marker {
      background-image: url('https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png');
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }

  </style>


<% end %>


<%= content_for :js_content do %>
  <%= javascript_pack_tag "map" %>
<script>
setInterval( function() {
window.dispatchEvent(new Event('resize'))
},100)
 </script>


<% end %>



