<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @users_speciality.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @users_speciality.user.email %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @users_speciality.speciality.name %>
</p>

<%= link_to 'Edit', edit_users_speciality_path(@users_speciality) %> |
<%= link_to 'Back', users_specialities_path %>
