<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @users_speciality.description %>
</p>

<p>
  <strong>Avg punctuation:</strong>
  <%= @users_speciality.avg_punctuation %>
</p>

<p>
  <strong>Avg punctuation:</strong>
  <%= @users_speciality.avg_punctuation %>
</p>

<p>
  <strong>Avg efficacy:</strong>
  <%= @users_speciality.avg_efficacy %>
</p>

<p>
  <strong>Avg efficacy:</strong>
  <%= @users_speciality.avg_efficacy %>
</p>

<p>
  <strong>Avg behaviour:</strong>
  <%= @users_speciality.avg_behaviour %>
</p>

<p>
  <strong>Avg behaviour:</strong>
  <%= @users_speciality.avg_behaviour %>
</p>

<p>
  <strong>User:</strong>
  <%= @users_speciality.user %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @users_speciality.speciality %>
</p>

<%= link_to 'Edit', edit_users_speciality_path(@users_speciality) %> |
<%= link_to 'Back', users_specialities_path %>
