<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Puntctuation</th>
      <th>Efficacy</th>
      <th>Behaviour</th>
      <th>Commentary</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.puntctuation %></td>
        <td><%= review.efficacy %></td>
        <td><%= review.behaviour %></td>
        <td><%= review.commentary %></td>
        <% if policy(review).edit? %>
        <td><%= link_to 'Edit', edit_users_speciality_review_path(review.users_speciality_id,review.id) %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<% if Review.where(user: current_user, users_speciality: @users_speciality)[0].nil? %>
<h1>New Review</h1>
<%= render 'form', review: @review %>
<%= link_to 'Back', user_profile_show_path(@users_speciality.user_id) %>
<% end %>

