<p id="notice"><%= notice %></p>

<p>
  <strong>Puntctuation:</strong>
  <%= @review.puntctuation %>
</p>

<p>
  <strong>Puntctuation:</strong>
  <%= @review.puntctuation %>
</p>

<p>
  <strong>Efficacy:</strong>
  <%= @review.efficacy %>
</p>

<p>
  <strong>Efficacy:</strong>
  <%= @review.efficacy %>
</p>

<p>
  <strong>Behaviour:</strong>
  <%= @review.behaviour %>
</p>

<p>
  <strong>Behaviour:</strong>
  <%= @review.behaviour %>
</p>

<p>
  <strong>Commentary:</strong>
  <%= @review.commentary %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Users speciality:</strong>
  <%= @review.users_speciality %>
</p>

