<!DOCTYPE html>
<html>
  <head>
    <title>Lmalem</title>
      <%= csrf_meta_tags %>
      <%= action_cable_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_pack_tag 'application' %>
        <%= yield :css_content %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% end %>
    <div class="container">
    <div class="row">
        <%= yield %>
      </div>

    </div>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>

    <%= yield :js_content %>




  </body>
</html>
